name: Go Lint

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  go-lint:
    name: ptah-go-lint
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'
          cache: true
          cache-dependency-path: go.sum
      
      - name: Install dependencies
        run: go mod download

      - name: Golint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=30m
          version: v2.1.6
